.content {
    padding-top: 10px;
}
.row {
    display: flex;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }
}

.actions {
    padding-bottom: 20px;
    button {
        flex: 1;
    }
}